@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Permanent+Marker&family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: rgb(244, 244, 244);
}
*{
    font-family: 'Roboto';
  }
  /* Nav bar */
  .navbar {
    background-image: none; 
    background-color:#3498db ; 
}

    .navbar-brand {
      color: white;
    }
  
    .navbar-nav .nav-link {
      color: white;
    }
  
    #title{
      font-weight: bold;
      font-family: 'Great Vibes';
    }
    .home-title{
      background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,1)), url(../img/background.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      height: 100vh;
      color: white;
    }
    .home-title .lead{
      text-shadow: 0px 0px 1px black;
    }
    .home-title .container{
      padding-top: 20vh;
    }
   
    .container h1 {
      font-size: 62px;
      font-weight: bold;
      font-family: 'Rubik Doodle Shadow', sans-serif;
      color: #3498db;
  }
  .container p {
    line-height: 1.6;
}
.card {
  border: 1px solid #ccc; 
  border-radius: 12px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 20px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-title {
  font-family: 'Rubik Bubbles';
  font-size: 2.2rem;
  color:rgb(0, 0, 0);
  margin-bottom: 10px;
  text-align: center; 
}

.card-text {
  font-size: 1rem; 
  color: #666; 
  line-height: 1.5; 
}
.card:hover {
  box-shadow: 0 9px 16px rgba(0, 0, 0, 0.2);
}
    