@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Permanent+Marker&family=Rubik+Bubbles&display=swap');

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: rgb(244, 244, 244);
}
*{
    font-family: 'Roboto';
  }
  /* Nav bar */
  .navbar {
    background-image: none; 
    background-color:#3498db ; 
}
    .navbar-brand {
      color: white;
    }
  
    .navbar-nav .nav-link {
      color: white;
    }
  
    #title{
      font-weight: bold;
      font-family: 'Great Vibes';
    }
    .home-title{
      background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,1)), url(../img/background.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      height: 100vh;
      color: white;
    }
    .home-title .lead{
      text-shadow: 0px 0px 1px black;
    }
    .home-title .container{
      padding-top: 20vh;
    }

/* Card element styling */
.card {
    background: white;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    backdrop-filter: blur(10px);
}
.page-header {
  background-color: white; 
  padding: 40px 0; 
  text-align: center;
}

.page-header h1 {
  font-family: 'Anton';
  color: #3498db;
  font-size: 3rem;
  margin-bottom: 20px;
}

.page-header p {
  font-size: 1rem; 
  color: #333; 
  margin-bottom: 30px; 
}

.card-body {
    color: #000000;
}
.card-title {
    font-family:'Rubik Bubbles'; 
    font-size:xx-large;
    color: #3f61ae; 
}
.icon-container {
  text-align: right; 
}
.icon-button {
  background: none; 
  border: none; 
  padding: 0; 
  cursor: pointer; 
  font-size: 24px; 
  margin-left: 10px;
}
.icon-button:hover {
  color: blue; 
}


/* Styling for the background of the destination page */
.destination-page {
   /* background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,1)), url('../img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;*/
    color: white;
}
