@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Permanent+Marker&family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: rgb(244, 244, 244);
}
*{
    font-family: 'Roboto';
  }
  /* Nav bar */
  .navbar {
    background-image: none; 
    background-color:#3498db ; 
}
    .navbar-brand {
      color: white;
    }
  
    .navbar-nav .nav-link {
      color: white;
    }
  
    #title{
      font-weight: bold;
      font-family: 'Great Vibes';
    }
    .home-title{
      background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,1)), url(../img/background.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      height: 100vh;
      color: white;
    }
    .home-title .lead{
      text-shadow: 0px 0px 1px black;
    }
    .home-title .container{
      padding-top: 20vh;
    }
    .page-header {
      text-align: center;
      padding: 2rem;
  }
  
  .page-header h1 {
    font-family:'Anton' ;
      font-size: 3rem;
      color: #3498db;
      font-family: 'Rubik Doodle Shadow', sans-serif;
  }
  
  .page-header p {
      font-size: 1.6rem;
      font-family: 'Rubik Doodle Shadow', sans-serif;
  }
/* Card element styling */
.card {
    background: white;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    backdrop-filter: blur(10px);
}

.card-body {
    color: #000000;
}
.card-title {
    font-family:'Rubik Bubbles'; 
    font-size:xx-large;
    color: #3f61ae; 
}
.icon-container {
  text-align: right; 
}
.icon-button {
  background: none; 
  border: none; 
  padding: 0; 
  cursor: pointer; 
  font-size: 24px; 
  margin-left: 10px;
}

.icon-button:hover {
  color: rgb(30, 179, 129); 
}

.icon-container button.dislike.dislike-active i {
  color: red;
}

.icon-container button.like.active i {
  color: blue;
}
.icon-container button.bookmark.bookmark-active i {
  color: green;
}

/* Styling for the background of the destination page */
.destination-page {
    color: white;
}
.card-img-top {
  height: 400px; 
}
