@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

*{
  font-family: 'Roboto';
}

.navbar {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,1)), url(../img/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  }
  .navbar-brand {
    color: white; /* Set the text color to white */
  }

  .navbar-nav .nav-link {
    color: white; /* Set the text color to white */
  }

  .card {
    background: rgba(255, 255, 255, 0.5); /* Adjust the alpha channel for transparency */
    border: none;
    border-radius: 15px;
    overflow: hidden;
    backdrop-filter: blur(10px); /* Adjust the blur value for the glass effect */
  }

  .card-body {
    color: #000000; /* Set text color to white or a suitable contrast */
  }
  #title{
    font-weight: bold;
    font-family: 'Great Vibes';
  }
  .home-title{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,1)), url(../img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: white;
  }
  .home-title .lead{
    text-shadow: 0px 0px 1px black;
  }
  .home-title .container{
    padding-top: 20vh;
  }


  .content{
    height: 100vh;
  }